:root {
    --primary-color: #40401b;
    --secondary-color: #1e1f12;
    --third-color: #ddddd8;
    --fourth-color: #f8f7fc;
    --fifth-color: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 90px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    background-color: var(--fourth-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*begin applying styles to header*/

header {
    padding: 15px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../img/football-team.jpeg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-size: 24px;
    font-weight: normal;
}

.header-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.header-img img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

header a {
    color: var(--fourth-color);
}

header a:hover {
    text-decoration: underline;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    padding: 10px 25px;
    font-size: 1.55vw;
}

/*begin styling hero section*/

.hero {
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary-color);
    justify-content: center;
    text-align: center;
    background-image: url(../img/football-team.jpeg);
    background-size: cover;
    height: 500px;
    background-position: 80%;
    background-attachment: fixed;
}

/* style section titles and underlines*/
.section-title {
    padding: 15px 20px;
    text-align: center;
    margin: 20px auto 30px auto;
    font-size: 40px;
    position: relative;
    width: 400px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(30, 31, 18, .5)
}

.section-title::after {
    content:"";
    height: 2px;
    background-color: var(--primary-color);
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 150px;
}

/* begin styling about me section*/

.intro {
    margin-bottom: 35px;
    color: var(--secondary-color);
    padding: 0 35px;
}

.intro-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.intro-par p {
    flex: 1;
    padding: 10px 35px;
    font-size: 20px;
}

.intro-par {
    flex: 1 50%;
    padding: 0 35px;
}

.intro ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1 40%;
}

.logo {
    font-size: 24px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.logo img {
    height:40px;
    width: 40px;
}

.logo span {
    margin-left: 10px;
}

/* begin styling My Work section*/

.my-projects {
    background-color: var(--third-color);
    padding: 15px 0 50px 0;
}

.photo-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-links a:hover {
    opacity: .80;
}

.first-image a {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("../img/gunshow-homepage.png");
    background-size: cover;
    background-position: center;
}

.side-box {
    display: flex;
    flex-flow: wrap;
    width: 300px;
}

.side-box a {
    background-size: cover;
    background-position: center;
    display: inline-block;
    height: 150px;
    width: 150px;
}

.box-one {
    background-image: url("../img/event-finder.png");
}

.box-two {
    background-image: url("../img/run-buddy.png");
}

.box-three {
    background-image: url("../img/the-weeknd.png");
}

.box-four {
    background-image: url("../img/facebook.png");
}

/* beging styling the contact me section */

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
    padding: 35px;
}

.contact p {
    flex: 100%;
    text-align: center;
    margin-bottom: 35px;
    font-size: 20px;
}

.form-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.email-form {
    width: 75%;
}

.form-links input::placeholder, .form-links textarea::placeholder {
    color: var(--fourth-color);
}

.form-links input, .form-links textarea {
    display: block;
    border: 1px solid var(--primary-color);
    margin-bottom: 5px;
    width: 100%;
    font-size: 16px;
    width: 100%;
    padding: 5px 10px;
    color: var(--fourth-color);
    background: rgba(64, 64, 64, 0.5);
    border-radius: 5px;
}

.form-links textarea {
    height: 150px;
}

.form-links input:focus, .form-links textarea:focus {
    outline: none;
}

.form-links button {
    width: 100%;
    background: rgba(64, 64, 64, 0.5);
    color: var(--fourth-color);
    border: 1px solid var(--primary-color);
    padding: 7px 0;
    border-radius: 5px;
    font-size: 16px;
}

.form-links button:hover {
    background: var(--primary-color);
}

.contact ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact ul li img {
    width: 50px;
    height: 50px;
}

/* begin styling footer section */

footer {
    background: var(--secondary-color);
    color: var(--fourth-color);
    padding: 20px 35px;
}

/* use media queries to make responsive layout */

@media screen and (max-width: 980px) {

    header {
        position: relative;
    }

    .hero {
        height: 400px;
    }

    .form-links ul {
        flex-direction: row;
        flex: 100%;
        padding: 35px 35px 0 35px;
        justify-content: space-between;
    }

    .email-form {
        width: 100%;
    }
}

@media screen and (max-width: 786px) {
    section {
        padding: 30px 10px;
    }

    .hero {
        height: 300px;
    }

    header {
        justify-content: center;
    }

    .header-img a{
        flex: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav {
        flex: 100%;
    }

    header nav ul {
        justify-content: center;
    }

    header nav ul li a{
        font-size: 16px;
    }

    .intro-par {
        flex: 100%;
    }

    .intro ul {
        flex-flow: row wrap;
        padding-top: 35px;
        justify-content: center;
    }

    .form-links {
        width: 75%;
    }

    footer {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {

    header {
        height: 200px;
    }

    .intro {
        padding: 0;
    }

    .intro-par p {
        padding: 0 0 10px 0;
    }

    .form-links {
        width: 100%;
    }
}