:root {
    --primary-color: #687864;
    --secondary-color: #31708e;
    --third-color: #8fc1e3;
    --fourth-color: #f7f9fb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    background-color: var(--fourth-color);
}

a {
    text-decoration: none;
}

/*begin applying styles to header*/

header {
    padding: 15px 35px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 20px;
}

header a {
    color: var(--fourth-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

/*end applying header styles*/

/*begin styling hero section*/

.hero {
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary-color);
    justify-content: center;
    text-align: center;
}

.hero img {
    border-radius: 50%;
    flex: 0;
    height: 225px;
    width: 250px;
    padding: 20px 20px 0 20px;
}

.hero h2 {
    flex: 1 100%;
    padding: 10px;
    font-size: 28px;
    font-weight: lighter;
}

.hero h3 {
    flex: 1 100%;
    font-size: 24px;
    font-weight: lighter;
}

/*finish hero section style*/